<p>
  <h1><%= @lesson.name%></h1><br>
  Преподаватель: <%= @lesson.teacher%><br>
  Начало пары: <%= @lesson.start %><br>
  Окончание пары: <%= @lesson.end %><br>
  День недели: <%= @days[@lesson.day - 1] %><br>
</p>

<%= link_to 'Вернуться к группе', group_path(@group,  :faculty_id => @faculty.id) %>
<%= link_to 'Редактировать', edit_lesson_path(@lesson,  :faculty_id => @faculty.id, :group_id => @group.id) %>